:host{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#option{
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: beige;
}


/* Component CSS */
.viewport {
  height: 800px; /* REQUIRED! Set fixed height */
  width: 100%;
  border: 1px solid #ddd;
  overflow: auto;
}
